<!DOCTYPE html>
<html lang="en">
  <head>
    

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        color: antiquewhite;
        background-color: rgb(12, 12, 10);
        text-align: center;
        padding: 30px;
        margin-bottom: 20px;
      }
      .nav-heading h1{
        color: antiquewhite;
      }
      .routes{
        
        justify-content: space-between;
      }
      .routes a {

        color: white;
        margin-right: 10px;
        font-size: 20px;
        
      }
      a:link {
  text-decoration: none;
}

    </style>
  </head>
  <body>
    <div class="header">
      <div class="navbar">
       <div class="nav-heading">
        <a href="/"><h1>Inventory Application</h1></a>
       </div>
       <div class="routes">
        <a href="/categories">Categories</a>
        <a href="/items">Items</a>
      </div>
      </div>
    </div>
  </body>
</html>
