<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <div class="header">
      <%- include('../views/header') %>
      <h1>homepage...</h1>
    </div>
  </body>
</html>
